.ChoiceLabel{
    font-size: 15px;
    padding-top: 0;
    padding-left: 1px;
}

.enumHide{
    width: 70px;
}

.node #title{
    background-color: yellow;
}

.node #title #title-label{
    color: black;
}